<style>
        .btn {
            width: 100%;
            height: 50px;
            font-size: 20px;
            margin-top: 6px;
            border-radius: 1.3rem;
        }

        .form-group .form-control {
            border-radius: 1.3rem;
        }

        label {
            margin-bottom: 3px;
            margin-top: 5px;
        }
    </style>

<div class="col-md-3" style="float: left; margin-right: 50px;">
        <div class="list-group">
            <a id="m1" href="{{ url_for('home.user')}}" class="list-group-item ">
                <span class="glyphicon glyphicon-user"></span>&nbsp;个人资料
            </a>
             <a id="m2" href="{{ url_for('home.pwd')}}" class="list-group-item">
                <span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码
            </a>
            <a id="m3" href="{{ url_for('home.sub')}}" class="list-group-item">
                <span class="glyphicon glyphicon-cd"></span>&nbsp;订阅会员
            </a>
            <a id="m4" href="{{ url_for('home.wallet') }}" class="list-group-item">
                <span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;钱包充值
            </a>
        </div>
    </div>

{#    <div class="list-group" style="float: left;">#}
{#  <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>#}
{#  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>#}
{#  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>#}
{#        <a href="{{ url_for('home.user')}}" class="list-group-item list-group-item-action">#}
{#                <span class="glyphicon glyphicon-user"></span>&nbsp;个人资料#}
{#            </a>#}
{#             <a href="{{ url_for('home.pwd')}}" class="list-group-item list-group-item-action">#}
{#                <span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码#}
{#            </a>#}
{#            <a href="{{ url_for('home.sub')}}" class="list-group-item list-group-item-action">#}
{#                <span class="glyphicon glyphicon-cd"></span>&nbsp;订阅会员#}
{#            </a>#}
{#            <a href="{{ url_for('home.wallet') }}" class="list-group-item list-group-item-action">#}
{#                <span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;钱包充值#}
{#            </a>#}
{#</div>#}