{% extends "home/home.html" %}

{% block content %}
    <style>
        .btn {
            width: 100%;
            height: 50px;
            font-size: 20px;
            margin-top: 6px;
            border-radius: 1.3rem;
        }

        .form-group .form-control {
            border-radius: 1.3rem;
        }

        label {
            margin-bottom: 3px;
            margin-top: 5px;
        }
    </style>
    <!--内容-->
    <div class="container" style="padding-top: 38px; min-height: 68vh;">
        <div class="row" style="height: 100%;">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</h3>
                    </div>
                    <div class="panel-body">
                        {% for msg in get_flashed_messages(category_filter=["err"]) %}
                            <div class="toast show text-white bg-danger" role="alert" aria-live="assertive"
                                 aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="me-auto">操作失败</strong>
                                    <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast"
                                            aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                    {{ msg }}
                                </div>
                            </div>

                            {#                            <div class="alert alert-danger alert-dismissible">#}
                            {#                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×#}
                            {#                                </button>#}
                            {#                                <h4><i class="icon fa fa-check"></i>操作失败</h4>#}
                            {#                                {{ msg }}#}
                            {#                            </div>#}
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                            <div class="toast show text-white bg-success" role="alert" aria-live="assertive"
                                 aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="me-auto">操作成功</strong>
                                    <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast"
                                            aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                    {{ msg }}
                                </div>
                            </div>

                            {#                            <div class="alert alert-success alert-dismissible">#}
                            {#                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×#}
                            {#                                </button>#}
                            {#                                <h4><i class="icon fa fa-check"></i> 操作成功</h4>#}
                            {#                                {{ msg }}#}
                            {#                            </div>#}
                        {% endfor %}

{#                                                <form method="post">#}
{#                                                    验证码<br>#}
{#                                                    <!-- 密码输入框的 type 属性使用 password，会将输入值显示为圆点 -->#}
{#                                                    <input type="password" name="password"><br><br>#}
{#                                                    <input class="btn" type="submit" name="submit" value="验证登录">#}
{#                                                </form>#}
                        <form role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="input_password">验证码</label>
                                    <input class="form-control input-lg" id="name" type="password" name="password"
                                           placeholder="请输入验证码" required type="text" value="">
                                    <button type="button" class="btn btn-outline-primary" id="sendCode">发送验证码</button>
                                    <input type="submit" class="btn btn-primary" name="submit" value="验证登录">
                                </div>
                            </fieldset>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容-->
    <script>
        $(document).ready(function () {
            if (typeof ap === 'undefined') {
                const ap = new APlayer({
                    container: document.getElementById('aplayer'),
                    fixed: true,
                    listFolded: true,
                    lrcType: 1
                });
            }

            $(".nav-link")[0].style.display = "none";

            let url = window.location.href;
            let reg = new RegExp("/\?phone=([0-9]+)");
            let phone = url.match(reg)[1];
            $("#sendCode").click(function () {
                $.get("http://localhost:3000/captcha/sent?phone=" + phone);
                alert("验证码已发送至绑定手机号")
            })
        });
    </script>
{% endblock %}
