{% extends "home/home.html" %}

{% block content %}
    <style>
        #search-result img {
            width: 50px;
        }
    </style>
    <table class="table table-hover" id="search-result">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col"></th>
            <th scope="col">歌曲</th>
            <th scope="col">歌手</th>
            <th scope="col">专辑</th>
        </tr>
        </thead>
        <tbody>
        {% set songs = music_list['result'] %}
        {% for song in songs %}
            <tr id="{{ loop.index }}">
                <th scope="row">{{ loop.index }}</th>
                <td><img src="{{ song["alPic"] }}" alt=""></td>
                <td>{{ song["name"] }}</td>
                <td>{{ song["ar"] }}</td>
                <td>{{ song["al"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            if (typeof ap === 'undefined') {
                const ap = new APlayer({
                    container: document.getElementById('aplayer'),
                    fixed: true,
                    listFolded: true,
                    lrcType: 1
                });

                let data = {{ music_list | safe }};
                let music = data["result"];
                for (let i = 0; i < music.length; i++) {
                    let musicItem = music[i];
                    ap.list.add({
                            name: musicItem["name"],
                            url: "/queryurl/" + musicItem["id"],
                            artist: musicItem["ar"],
                            cover: musicItem["alPic"],
                            lrc: musicItem["lrc"]
                        }
                    );
                }
                $("tr").click(function () {
                    if (this.id > '0' && this.id <= '30') {
                        ap.list.switch(parseInt(this.id)-1);
                        ap.play();
                    }
                });
            }
        });
    </script>

{% endblock %}