{% extends "home/home.html" %}s

{% block username %}
    {{ name }}
{% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="{{ url_for("static", filename="base/images/1.jpg") }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="{{ url_for("static", filename="base/images/2.jpg") }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="{{ url_for("static", filename="base/images/3.jpg") }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#huayu">华语</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#oumei">欧美</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#riyu">日语</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#hanyu">韩语</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#yueyu">粤语</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="huayu">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="oumei">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane fade" id="riyu">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane fade" id="hanyu">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane fade" id="yueyu">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg" alt="Card image"
                         style="width:100%">
                    <div class="card-body">
                        <p class="card-text">闪耀的群星</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <h1>排行榜</h1>
    <div class="d-flex justify-content-between flex-wrap">
        <div class="card top-list">
            <div class="top-list-top">
                <div class="top-list-bg"><img class="top-list-bg-image"
                                              src="{{ url_for("static", filename="base/images/top1.png") }}" alt="">
                </div>
                <img class="card-img-top" src="{{ url_for("static", filename="base/images/热歌.jpg") }}"
                     alt="Card image">
            </div>
            <div class="card-body">
                <li class="top-list-item">
                    <div class="top-img top1"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top2"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top3"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">4</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">5</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
            </div>
        </div>
        <div class="card top-list">
            <div class="top-list-top">
                <div class="top-list-bg"><img class="top-list-bg-image"
                                              src="{{ url_for("static", filename="base/images/top2.png") }}" alt="">
                </div>
                <img class="card-img-top" src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg"
                     alt="Card image">
            </div>
            <div class="card-body">
                <li class="top-list-item">
                    <div class="top-img top1"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top2"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top3"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">4</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">5</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
            </div>
        </div>
        <div class="card top-list">
            <div class="top-list-top">
                <div class="top-list-bg"><img class="top-list-bg-image"
                                              src="{{ url_for("static", filename="base/images/top3.png") }}" alt="">
                </div>
                <img class="card-img-top" src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg"
                     alt="Card image">
            </div>
            <div class="card-body">
                <li class="top-list-item">
                    <div class="top-img top1"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top2"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top3"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">4</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">5</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
            </div>
        </div>
        <div class="card top-list">
            <div class="top-list-top">
                <div class="top-list-bg"><img class="top-list-bg-image"
                                              src="{{ url_for("static", filename="base/images/top4.png") }}" alt="">
                </div>
                <img class="card-img-top" src="http://p3.music.126.net/hwxZS2Bv9Dht_8chjLLR-Q==/109951165690591384.jpg"
                     alt="Card image">
            </div>
            <div class="card-body">
                <li class="top-list-item">
                    <div class="top-img top1"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top2"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="top-img top3"></div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">4</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
                <li class="top-list-item lower">
                    <div class="index">5</div>
                    <div class="info"><p  class="song-name">孤勇者</p>
                        <p  class="top-list-artist">陈奕迅</p></div>
                </li>
            </div>
        </div>
    </div>
    <h1>歌手推荐</h1>
    <div style="display: flex; justify-content: space-between; padding: 0 40px;">
        <div class="artist_item">
            <div class="pic_artist">
                <div class="pic_out">
                    <img alt="" class="pic"
                         src="{{ url_for("static", filename="base/images/zyboy.jpg") }}"
                         lazy="loaded"></div>
                <p class="pic_name flex_c">
                    <span title="Zyboy忠宇" class="pic_text">Zyboy忠宇</span></p>
                <p class="pic_num">
                    58首歌曲
                </p></div>
        </div>
        <div class="artist_item">
            <div class="pic_artist">
                <div class="pic_out">
                    <img alt="" class="pic"
                         src="{{ url_for("static", filename="base/images/周杰伦.jpg") }}"
                         lazy="loaded"></div>
                <p class="pic_name flex_c">
                    <span title="周杰伦" class="pic_text">周杰伦</span></p>
                <p class="pic_num">
                    1694首歌曲
                </p></div>
        </div>
        <div class="artist_item">
            <div class="pic_artist">
                <div class="pic_out">
                    <img alt="" class="pic"
                         src="{{ url_for("static", filename="base/images/张杰.jpg") }}"
                         lazy="loaded"></div>
                <p class="pic_name flex_c">
                    <span title="张杰" class="pic_text">张杰</span></p>
                <p class="pic_num">
                    1164首歌曲
                </p></div>
        </div>
        <div class="artist_item">
            <div class="pic_artist">
                <div class="pic_out">
                    <img alt="" class="pic"
                         src="{{ url_for("static", filename="base/images/陈奕迅.jpg") }}"
                         lazy="loaded"></div>
                <p class="pic_name flex_c">
                    <span  class="pic_text">陈奕迅</span></p>
                <p class="pic_num">
                    2929首歌曲
                </p></div>
        </div>
        <div class="artist_item">
            <div class="pic_artist">
                <div class="pic_out">
                    <img alt="" class="pic"
                         src="{{ url_for("static", filename="base/images/周深.jpg") }}"
                         lazy="loaded"></div>
                <p class="pic_name flex_c">
                    <span title="周深" class="pic_text">周深</span></p>
                <p class="pic_num">
                    1041首歌曲
                </p></div>
        </div>
        <div class="artist_item">
            <div class="pic_artist">
                <div class="pic_out">
                    <img alt="" class="pic"
                         src="{{ url_for("static", filename="base/images/林俊杰.jpg") }}"
                         lazy="loaded"></div>
                <p class="pic_name flex_c">
                    <span title="林俊杰" class="pic_text">林俊杰</span></p>
                <p class="pic_num">
                    1080首歌曲
                </p></div>
        </div>

    </div>
    <script>
        var SoundCloudAudioSource = function (player) {
            var self = this;
            var analyser;
            var audioCtx = new (window.AudioContext || window.webkitAudioContext);
            analyser = audioCtx.createAnalyser();
            analyser.fftSize = 256;
            player.crossOrigin = "anonymous";
            var source = audioCtx.createMediaElementSource(player);
            source.connect(analyser);
            analyser.connect(audioCtx.destination);
            var sampleAudioStream = function () {
                analyser.getByteFrequencyData(self.streamData);
                // calculate an overall volume value
                var total = 0;
                for (var i = 0; i < 80; i++) { // get the volume from the first 80 bins, else it gets too loud with treble
                    total += self.streamData[i];
                }
                self.volume = total;
            };
            setInterval(sampleAudioStream, 20);
            // public properties and methods
            this.volume = 0;
            this.streamData = new Uint8Array(128);
        };
        var Visualizer = function () {
            var tileSize;
            var tiles = [];
            var stars = [];
            // canvas vars
            var fgCanvas;
            var fgCtx;
            var fgRotation = 0.001;
            var bgCanvas;
            var bgCtx;
            var sfCanvas;
            var sfCtx;
            var audioSource;

            function Polygon(sides, x, y, tileSize, ctx, num) {
                this.sides = sides;
                this.tileSize = tileSize;
                this.ctx = ctx;
                this.num = num; // the number of the tile, starting at 0
                this.high = 0; // the highest colour value, which then fades out
                this.decay = this.num > 42 ? 1.5 : 2; // increase this value to fade out faster.
                this.highlight = 0; // for highlighted stroke effect;
                // figure out the x and y coordinates of the center of the polygon based on the
                // 60 degree XY axis coordinates passed in
                var step = Math.round(Math.cos(Math.PI / 6) * tileSize * 2);
                this.y = Math.round(step * Math.sin(Math.PI / 3) * -y);
                this.x = Math.round(x * step + y * step / 2);

                // calculate the vertices of the polygon
                this.vertices = [];
                for (var i = 1; i <= this.sides; i += 1) {
                    x = this.x + this.tileSize * Math.cos(i * 2 * Math.PI / this.sides + Math.PI / 6);
                    y = this.y + this.tileSize * Math.sin(i * 2 * Math.PI / this.sides + Math.PI / 6);
                    this.vertices.push([x, y]);
                }
            }

            Polygon.prototype.rotateVertices = function () {
                // rotate all the vertices to achieve the overall rotational effect
                var rotation = fgRotation;
                rotation -= audioSource.volume > 10000 ? Math.sin(audioSource.volume / 800000) : 0;
                for (var i = 0; i <= this.sides - 1; i += 1) {
                    this.vertices[i][0] = this.vertices[i][0] - this.vertices[i][1] * Math.sin(rotation);
                    this.vertices[i][1] = this.vertices[i][1] + this.vertices[i][0] * Math.sin(rotation);
                }
            };
            var minMental = 0, maxMental = 0;
            Polygon.prototype.calculateOffset = function (coords) {
                var angle = Math.atan(coords[1] / coords[0]);
                var distance = Math.sqrt(Math.pow(coords[0], 2) + Math.pow(coords[1], 2)); // a bit of pythagoras
                var mentalFactor = Math.min(Math.max((Math.tan(audioSource.volume / 6000) * 0.5), -20), 2); // this factor makes the visualization go crazy wild
                /*
                // debug
                minMental = mentalFactor < minMental ? mentalFactor : minMental;
                 maxMental = mentalFactor > maxMental ? mentalFactor : maxMental;*/
                var offsetFactor = Math.pow(distance / 3, 2) * (audioSource.volume / 2000000) * (Math.pow(this.high, 1.3) / 300) * mentalFactor;
                var offsetX = Math.cos(angle) * offsetFactor;
                var offsetY = Math.sin(angle) * offsetFactor;
                offsetX *= (coords[0] < 0) ? -1 : 1;
                offsetY *= (coords[0] < 0) ? -1 : 1;
                return [offsetX, offsetY];
            };
            Polygon.prototype.drawPolygon = function () {
                var bucket = Math.ceil(audioSource.streamData.length / tiles.length * this.num);
                var val = Math.pow((audioSource.streamData[bucket] / 255), 2) * 255;
                val *= this.num > 42 ? 1.1 : 1;
                // establish the value for this tile
                if (val > this.high) {
                    this.high = val;
                } else {
                    this.high -= this.decay;
                    val = this.high;
                }

                // figure out what colour to fill it and then draw the polygon
                var r, g, b, a;
                if (val > 0) {
                    this.ctx.beginPath();
                    var offset = this.calculateOffset(this.vertices[0]);
                    this.ctx.moveTo(this.vertices[0][0] + offset[0], this.vertices[0][1] + offset[1]);
                    // draw the polygon
                    for (var i = 1; i <= this.sides - 1; i += 1) {
                        offset = this.calculateOffset(this.vertices[i]);
                        this.ctx.lineTo(this.vertices[i][0] + offset[0], this.vertices[i][1] + offset[1]);
                    }
                    this.ctx.closePath();

                    if (val > 128) {
                        r = (val - 128) * 2;
                        g = ((Math.cos((2 * val / 128 * Math.PI / 2) - 4 * Math.PI / 3) + 1) * 128);
                        b = (val - 105) * 3;
                    } else if (val > 175) {
                        r = (val - 128) * 2;
                        g = 255;
                        b = (val - 105) * 3;
                    } else {
                        r = ((Math.cos((2 * val / 128 * Math.PI / 2)) + 1) * 128);
                        g = ((Math.cos((2 * val / 128 * Math.PI / 2) - 4 * Math.PI / 3) + 1) * 128);
                        b = ((Math.cos((2.4 * val / 128 * Math.PI / 2) - 2 * Math.PI / 3) + 1) * 128);
                    }
                    if (val > 210) {
                        this.cubed = val; // add the cube effect if it's really loud
                    }
                    if (val > 120) {
                        this.highlight = 100; // add the highlight effect if it's pretty loud
                    }
                    // set the alpha
                    var e = 2.7182;
                    a = (0.5 / (1 + 40 * Math.pow(e, -val / 8))) + (0.5 / (1 + 40 * Math.pow(e, -val / 20)));

                    this.ctx.fillStyle = "rgba(" +
                        Math.round(r) + ", " +
                        Math.round(g) + ", " +
                        Math.round(b) + ", " +
                        a + ")";
                    this.ctx.fill();
                    // stroke
                    if (val > 20) {
                        var strokeVal = 20;
                        this.ctx.strokeStyle = "rgba(" + strokeVal + ", " + strokeVal + ", " + strokeVal + ", 0.5)";
                        this.ctx.lineWidth = 1;
                        this.ctx.stroke();
                    }
                }
                // display the tile number for debug purposes
                /*this.ctx.font = "bold 12px sans-serif";
                 this.ctx.fillStyle = 'grey';
                 this.ctx.fillText(this.num, this.vertices[0][0], this.vertices[0][1]);*/
            };
            Polygon.prototype.drawHighlight = function () {
                this.ctx.beginPath();
                // draw the highlight
                var offset = this.calculateOffset(this.vertices[0]);
                this.ctx.moveTo(this.vertices[0][0] + offset[0], this.vertices[0][1] + offset[1]);
                // draw the polygon
                for (var i = 0; i <= this.sides - 1; i += 1) {
                    offset = this.calculateOffset(this.vertices[i]);
                    this.ctx.lineTo(this.vertices[i][0] + offset[0], this.vertices[i][1] + offset[1]);
                }
                this.ctx.closePath();
                var a = this.highlight / 100;
                this.ctx.strokeStyle = "rgba(255, 255, 255, " + a + ")";
                this.ctx.lineWidth = 1;
                this.ctx.stroke();
                this.highlight -= 0.5;
            };

            var makePolygonArray = function () {
                tiles = [];
                /**
                 * Arrange into a grid x, y, with the y axis at 60 degrees to the x, rather than
                 * the usual 90.
                 * @type {number}
                 */
                var i = 0; // unique number for each tile
                tiles.push(new Polygon(6, 0, 0, tileSize, fgCtx, i)); // the centre tile
                i++;
                for (var layer = 1; layer < 7; layer++) {
                    tiles.push(new Polygon(6, 0, layer, tileSize, fgCtx, i));
                    i++;
                    tiles.push(new Polygon(6, 0, -layer, tileSize, fgCtx, i));
                    i++;
                    for (var x = 1; x < layer; x++) {
                        tiles.push(new Polygon(6, x, -layer, tileSize, fgCtx, i));
                        i++;
                        tiles.push(new Polygon(6, -x, layer, tileSize, fgCtx, i));
                        i++;
                        tiles.push(new Polygon(6, x, layer - x, tileSize, fgCtx, i));
                        i++;
                        tiles.push(new Polygon(6, -x, -layer + x, tileSize, fgCtx, i));
                        i++;
                    }
                    for (var y = -layer; y <= 0; y++) {
                        tiles.push(new Polygon(6, layer, y, tileSize, fgCtx, i));
                        i++;
                        tiles.push(new Polygon(6, -layer, -y, tileSize, fgCtx, i));
                        i++;
                    }
                }
            };

            function Star(x, y, starSize, ctx) {
                this.x = x;
                this.y = y;
                this.angle = Math.atan(Math.abs(y) / Math.abs(x));
                this.starSize = starSize;
                this.ctx = ctx;
                this.high = 0;
            }

            Star.prototype.drawStar = function () {
                var distanceFromCentre = Math.sqrt(Math.pow(this.x, 2) + Math.pow(this.y, 2));

                // stars as lines
                var brightness = 200 + Math.min(Math.round(this.high * 5), 55);
                this.ctx.lineWidth = 0.5 + distanceFromCentre / 2000 * Math.max(this.starSize / 2, 1);
                this.ctx.strokeStyle = 'rgba(' + brightness + ', ' + brightness + ', ' + brightness + ', 1)';
                this.ctx.beginPath();
                this.ctx.moveTo(this.x, this.y);
                var lengthFactor = 1 + Math.min(Math.pow(distanceFromCentre, 2) / 30000 * Math.pow(audioSource.volume, 2) / 6000000, distanceFromCentre);
                var toX = Math.cos(this.angle) * -lengthFactor;
                var toY = Math.sin(this.angle) * -lengthFactor;
                toX *= this.x > 0 ? 1 : -1;
                toY *= this.y > 0 ? 1 : -1;
                this.ctx.lineTo(this.x + toX, this.y + toY);
                this.ctx.stroke();
                this.ctx.closePath();

                // starfield movement coming towards the camera
                var speed = lengthFactor / 20 * this.starSize;
                this.high -= Math.max(this.high - 0.0001, 0);
                if (speed > this.high) {
                    this.high = speed;
                }
                var dX = Math.cos(this.angle) * this.high;
                var dY = Math.sin(this.angle) * this.high;
                this.x += this.x > 0 ? dX : -dX;
                this.y += this.y > 0 ? dY : -dY;

                var limitY = fgCanvas.height / 2 + 500;
                var limitX = fgCanvas.width / 2 + 500;
                if ((this.y > limitY || this.y < -limitY) || (this.x > limitX || this.x < -limitX)) {
                    // it has gone off the edge so respawn it somewhere near the middle.
                    this.x = (Math.random() - 0.5) * fgCanvas.width / 3;
                    this.y = (Math.random() - 0.5) * fgCanvas.height / 3;
                    this.angle = Math.atan(Math.abs(this.y) / Math.abs(this.x));
                }
            };

            var makeStarArray = function () {
                var x, y, starSize;
                stars = [];
                var limit = fgCanvas.width / 15; // how many stars?
                for (var i = 0; i < limit; i++) {
                    x = (Math.random() - 0.5) * fgCanvas.width;
                    y = (Math.random() - 0.5) * fgCanvas.height;
                    starSize = (Math.random() + 0.1) * 3;
                    stars.push(new Star(x, y, starSize, sfCtx));
                }
            };


            var drawBg = function () {
                bgCtx.clearRect(0, 0, bgCanvas.width, bgCanvas.height);
                var r, g, b, a;
                var val = audioSource.volume / 1000;
                r = 200 + (Math.sin(val) + 1) * 28;
                g = val * 2;
                b = val * 8;
                a = Math.sin(val + 3 * Math.PI / 2) + 1;
                bgCtx.beginPath();
                bgCtx.rect(0, 0, bgCanvas.width, bgCanvas.height);
                // create radial gradient
                var grd = bgCtx.createRadialGradient(bgCanvas.width / 2, bgCanvas.height / 2, val, bgCanvas.width / 2, bgCanvas.height / 2, bgCanvas.width - Math.min(Math.pow(val, 2.7), bgCanvas.width - 20));
                grd.addColorStop(0, 'rgba(0,0,0,0)');// centre is transparent black
                grd.addColorStop(0.8, "rgba(" +
                    Math.round(r) + ", " +
                    Math.round(g) + ", " +
                    Math.round(b) + ", 0.4)"); // edges are reddish

                bgCtx.fillStyle = grd;
                bgCtx.fill();
                /*
                 // debug data
                 bgCtx.font = "bold 30px sans-serif";
                 bgCtx.fillStyle = 'grey';
                 bgCtx.fillText("val: " + val, 30, 30);
                 bgCtx.fillText("r: " + r , 30, 60);
                 bgCtx.fillText("g: " + g , 30, 90);
                 bgCtx.fillText("b: " + b , 30, 120);
                 bgCtx.fillText("a: " + a , 30, 150);*/
            };

            this.resizeCanvas = function () {
                if (fgCanvas) {
                    // resize the foreground canvas
                    fgCanvas.width = window.innerWidth;
                    fgCanvas.height = window.innerWidth;
                    fgCtx.translate(fgCanvas.width / 2, fgCanvas.height / 2);

                    // resize the bg canvas
                    bgCanvas.width = window.innerWidth;
                    bgCanvas.height = window.innerWidth;
                    // resize the starfield canvas
                    sfCanvas.width = window.innerWidth;
                    sfCanvas.height = window.innerWidth;
                    sfCtx.translate(fgCanvas.width / 2, fgCanvas.height / 2);

                    tileSize = fgCanvas.width > fgCanvas.height ? fgCanvas.width / 25 : fgCanvas.height / 25;

                    drawBg();
                    makePolygonArray();
                    makeStarArray()
                }
            };

            var rotateForeground = function () {
                tiles.forEach(function (tile) {
                    tile.rotateVertices();
                });
            };

            var draw = function () {
                fgCtx.clearRect(-fgCanvas.width, -fgCanvas.height, fgCanvas.width * 2, fgCanvas.height * 2);
                sfCtx.clearRect(-fgCanvas.width / 2, -fgCanvas.height / 2, fgCanvas.width, fgCanvas.height);

                stars.forEach(function (star) {
                    star.drawStar();
                });
                tiles.forEach(function (tile) {
                    tile.drawPolygon();
                });
                tiles.forEach(function (tile) {
                    if (tile.highlight > 0) {
                        tile.drawHighlight();
                    }
                });

                // debug
                /* fgCtx.font = "bold 24px sans-serif";
                 fgCtx.fillStyle = 'grey';
                 fgCtx.fillText("minMental:" + minMental, 10, 10);
                 fgCtx.fillText("maxMental:" + maxMental, 10, 40);*/
                requestAnimationFrame(draw);
            };

            this.init = function (options) {
                audioSource = options.audioSource;
                var container = document.getElementById(options.containerId);

                // foreground hexagons layer
                fgCanvas = document.createElement('canvas');
                fgCanvas.setAttribute('style', 'position: absolute; z-index: 10');
                fgCtx = fgCanvas.getContext("2d");
                container.appendChild(fgCanvas);

                // middle starfield layer
                sfCanvas = document.createElement('canvas');
                sfCtx = sfCanvas.getContext("2d");
                sfCanvas.setAttribute('style', 'position: absolute; z-index: 5');
                container.appendChild(sfCanvas);

                // background image layer
                bgCanvas = document.createElement('canvas');
                bgCtx = bgCanvas.getContext("2d");
                container.appendChild(bgCanvas);

                makePolygonArray();
                makeStarArray();

                this.resizeCanvas();
                draw();


                setInterval(drawBg, 100);
                setInterval(rotateForeground, 20);
                // resize the canvas to fill browser window dynamically
                window.addEventListener('resize', this.resizeCanvas, false);
            };
        };
        $(document).ready(function () {
            if (typeof ap === 'undefined') {
                const ap = new APlayer({
                    container: document.getElementById('aplayer'),
                    fixed: true,
                    listFolded: true,
                    lrcType: 1
                });

                let data = {{ music_list | safe }};
                let music = data["result"];
                for (let i = 0; i < music.length; i++) {
                    let musicItem = music[i];
                    ap.list.add({
                            name: musicItem["name"],
                            url: "/queryurl/" + musicItem["id"],
                            artist: musicItem["ar"],
                            cover: musicItem["alPic"] + "?param=130y130",
                            lrc: musicItem["lrc"]
                        }
                    );
                }


                let tabImageSet = $(".tab-pane .card-img-top");
                for (let i = 0; i < tabImageSet.length; i++) {
                    tabImageSet[i].src = music[i]["alPic"] + "?param=250y250";
                }

                let tabTextSet = $(".tab-pane .card-text");
                for (let i = 0; i < tabTextSet.length; i++) {
                    tabTextSet[i].innerText = music[i]["name"];
                }

                let tabSet = $(".tab-pane .card");
                for (let i = 0; i < tabSet.length; i++) {
                    tabSet[i].id = i.toString();
                }

                let topImageSet = $(".top-list .card-img-top");
                for (let i = 0; i < topImageSet.length; i++) {
                    topImageSet[i].src = music[tabSet.length + i * 5]["alPic"] + "?param=250y250";
                }

                let songNameSet = $(".song-name");
                let topListArtistSet = $(".top-list-artist");
                for (let i = 0; i < songNameSet.length; i++) {
                    songNameSet[i].innerText = music[tabSet.length + i]["name"];
                    topListArtistSet[i].innerText = music[tabSet.length + i]["ar"];
                }

                let topListSet = $(".top-list-item");
                for (let i = 0; i < topListSet.length; i++) {
                    topListSet[i].id = (i + tabSet.length).toString();
                }

                $(".tab-pane .card,.top-list-item").click(function () {
                    ap.list.switch(parseInt(this.id));
                    ap.play();
                })

                var visualizer = new Visualizer();
                var player = ap.audio;

                function once() {
                    var audioSource = new SoundCloudAudioSource(player);
                    visualizer.init({
                        containerId: 'visualizer',
                        audioSource: audioSource
                    });
                    // audioSource.playStream(url);
                    flag = false;
                    // player.pause();

                    let canvas_list = $("#visualizer canvas");
                    canvas_list[0].id = "unique-canvas-1";
                    canvas_list[0].classList.add("canvas-before");
                    canvas_list[2].id = "unique-canvas-2";
                    canvas_list[2].classList.add("canvas-before");

                    document.querySelector("*").removeEventListener("click", once);
                }

                document.querySelector("*").addEventListener("click", once);

                $("#unique-img")[0].src = ap.list.audios[0].cover;
                console.log(ap);
                ap.on("listswitch", function (index) {
                    index = index["index"];

                    $("#unique-img")[0].src = ap.list.audios[index].cover;
                });

                var a = 0;

                function rotate(flag) {
                    if (flag) {
                        rt = setInterval(function () {
                            a++;
                            $("#unique-img").css("transform", "rotate(" + a / 10 + "deg)");
                        }, 10);
                    } else {
                        clearInterval(rt);
                    }
                }

                ap.on("play", function () {
                    rotate(true);
                });
                ap.on("pause", function () {
                    rotate(false);
                });


                function offset() {
                    let offsetY = window.innerWidth - window.innerHeight;
                    offsetY = offsetY / 2;
                    $("#visualizer").css("margin-top", parseInt(-offsetY) + "px");
                }
                offset();
                window.addEventListener('resize', offset, false);
            }
        });
    </script>
{% endblock %}