    <div>
        <div class="btn-group btn-group-lg" style="margin-bottom: 20px">
            <a id="m1" href="{{ url_for('admin.manage')}}" class="btn btn-default">
                <span class="glyphicon glyphicon-cd"></span>&nbsp;修改歌曲
            </a>
             <a id="m2" href="{{ url_for('admin.all')}}" class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>&nbsp;查看用户
            </a>
            <a id="m3" href="{{ url_for('admin.data1')}}"  class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
                用户数据分析
            </a>
            <a id="m4" href="{{ url_for('admin.d2')}}"  class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
                数据分析可视化
            </a>
            <a id="m4" href="{{ url_for('admin.d3')}}"  class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
                音乐分析可视化
            </a>

        </div>
    </div>