<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static',filename='static/js/jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    点击获取验证码按钮 /testcode
    /testcode
     账号：  数据库查询（后端）
     账号：  获得电话号码（后端）
     账号：  发起请求获得验证码（接口）
    验证验证码（接口）
    验证账号密码

       <form>


           用户填的验证码 <input id = "phone" type="text">
           <button type="button" id="getcode">获取验证码</button>
       </form>
      <script>
          $("#getcode").click(function () {
alert("ican");


  $.get("http://127.0.0.1:3000/captcha/verify?phone=18773149019&captcha=1234", function(serverdata,status){
     console.log('SUCCESS');
     alert("SUCCESS");
  });
  });


      </script>


</body>
</html>